In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 

6 

Ans. #Values are 'hello' , -87.8, 6 and expressions are *,-,/ etc

In [ ]:
2. What is the difference between string and variable?

Ans. #A Variable is a store of information, on which we assigns data.  And a String is a type of information you would store in a Variable. A String is usually words enclosed with in single quotes, double quotes or triple quotes.Eg: X ="Welcome to python world" where X is the Variable, and the statement with the double quotes is a string.

In [ ]:
3. Describe three different data types.

#Ans. Integer data type, String data type, dictionary data type

In [ ]:
4. What is an expression made up of? What do all expressions do?

#Ans. An expression is a combination of values, variables and operators. Eg : x = a + b

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#Ans.An expression is a combination of values, variables, operators and even functions.Any instruction written in the source code and executed by the Python interpreter is called a statement.

In [1]:
#6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

23

In [ ]:
#7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

 8. Why is eggs a valid variable name while 100 is invalid?

Ans.A variable is an entity on which we assigns data or values so that its can store the given data.

A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

Hence eggs is valid and 100 is invalid variable name.

In [4]:
AGE = 10

In [5]:
AGE + 1

11

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans.The int(), float(), and str() functions can be used to get the integer, floating-point number, and string versions of the value passed to them.

In [6]:
int(35.5)

35

In [7]:
float(25)

25.0

In [9]:
str(123)

'123'

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten ' + '99' + ' burritos.'

#The above error was caused because 99 was integer type, once we changed it's type to string, problem solved.

'I have eaten 99 burritos.'